<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="static/analysis.css" />
    

</head>

<body>
   
        <img src="static/img/banner.png" alt="">
       
    
    <div class="description">
        <h3>Description</h3>
        <form class="description2">
            The rising trend of student dropouts across a myriad of academic fields and domains
             is a significant concern in today's educational landscape.
            This is affecting our country's economy to a great extent, causing a decline in potential manpower for developmental works.<br/><br/>
            To tackle this issue effectively, we are leveraging diverse datasets and advanced analytics
             to gain insights into the underlying causes of student
            attrition. By analysing these datasets and presenting the findings through informative graphs, our project aims to provide actionable solutions to mitigate
            dropout rates.<br/><br/> Our intention is for our findings to inform policymakers and leaders, prompting them to implement the necessary political and social solutions
            required to address this issue.<br/><br/><br/>

        </form>
        <div class="grid-container" style="height: 670px; width: 690px;">
            <img src="static/img/graph1.jpg" alt="Photo 1" style="width: 350px; height: 300px;">
            <img src="static/img/graph2.jpg" alt="Photo 2" style="width: 350px; height: 300px;">
            <img src="static/img/graph3.jpg" alt="Photo 3" style="height: 280px; width: 350px;">
            <img src="static/img/graph5.jpg" alt="Photo 4" style="width: 350px; height: 280px;">
        </div>
    </div>
    
    
    <form class="graph-info">
    <h2>Data Visualization</h2>
    <div class="data">
    The below graphs, which are generated, provide different visual representations of data pertaining
     to gender, classes, year wise, categories, and regions. These graphs serve the purpose of visualizing the dataset,
      making it easier to comprehend the underlying trends and patterns within the data. Through this visualization,
       one can analyse the data and derive meaningful insights to generate reports.
    </div>    

    <div class="type">
        <label for="typeDropdown"></label>
        <select id="typeDropdown" aria-label="Type Dropdown">
            <option value="line">Line</option>
            <option value="bar">Bar</option>
        </select>
    </div>

    <div class="category">
        <label for="categoryDropdown"></label>
        <select id="categoryDropdown" aria-label="Category Dropdown">
            <option value="All Categories">All Category</option>
            <option value="Scheduled Caste">SC</option>
            <option value="Scheduled Tribe">ST</option>
        </select>
    </div>
    <div class="class">
        <label for="classDropdown"></label>
        <select id="classDropdown" aria-label="Class Dropdown">
            <option value="Classes I-V">I to V</option>
            <option value="Classes I-VIII">I to VIII</option>
            <option value="Classes I-X">I to X</option>
        </select>
    </div>
    <div class="year">
        <label for="yearDropdown"></label>
        <select id="yearDropdown" aria-label="Year Dropdown">
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
        </select>
    </div>
    
    <div class="chartCard">
        <div class="chartBox">
          <canvas id="myChart"></canvas>
        </div>
    </div>
</form>
    <form class="graph-info2">
        <div class=heading><h2>Analysis Report</h2></div>
        <div class="heading"><p>In our Analysis, we discovered and explored dropout rates of school education. In the project, we have used many visualization methods to extract some valuable information from the dataset which can be used by the government to look into it and implement the necessary tasks.
        </p></div>
           <div class="report"><p>1. Heat Map:
           <p>• In the heat map, in the correllation between "All Categories Boys and Girls" there was a dip in dropout rate in 2011.</p>
           <p>• Correlation between "SC category Boys and Girls", there was decrement in dropout rate until 2011 there was a slight spike.</p>
           <p>• For the category of "ST Boys and Girls", in the years 2009 and 2011 their were lowest rates.</p></p></div>
           

            <div class="report"><p>2. Box Plot:
           <p>•Box plot was implemented to check at what rate the outliers were present in the given dataset. 
           After viewing the visualisation there were high discrepency in the way the data was given.</p>
           <p>•Box plot was implemented to check at what rate the outliers were present in the given dataset. 
            After viewing the visualisation there were high discrepency in the way the data was given.</p></p></div>
           
           <div class="report"><p>3. Bar Graph:
           <p>• 2008-09; We took the column of "All category Girls of I-V". And there we observed, between the two years Puducherry and 
            U.P had the lowest girl dropout rate in the country. Overall also there was a decrease in rates in many states.</p>
           <p>• 2010-11; Overall we depicted an increment in dropout rates for the most of the states in which Punjab showed a huge rise of 25-27%.</p></p></div>
           
           <div class="report"><p>4. Pair Plot:
           <p>• In the above performed pair plot, we can see that most of the graphs had scattered dots, not linear. </p>
           <p>• This indicates a lack of strong linear correlation which means that for the given column value if there is 
           an increase im the near future there would be a slight chance of increase for the other column values.</p></p></div>
           
           <div class="report"><p>5. Pie Chart:
           <p>• I-V Year-wise and Caste-wise; We saw a zig - zag level of dropout rates for the "ST category" students which was not uniform.</p>
           <p>• I-VIII Year-wise and Caste-wise; There was a decrement in "SC category" dropout rates after that there was an increment by 2-3%.</p>
           <p>• I-X Year-wise and Caste-wise; We saw a constant rate i.e., there was neither decrement nor increment in data for "All categories".</p></p></div>
           
           <div class="report"><p>6. Insights :
            <p>• Andhra Pradesh, Arunachal Pradesh, Assam, Bihar, Chhattisgarh were the lowest states showing the dropouts.</p>
           <p>• After analyzing the data we found that Delhi, Lakshadweep and Puducherry were among the top states which showed highest dropout rates.</p></p></div>


           <div class="grid-container1" style="height: 670px; width: 690px;">
            <img src="static/img/f1.jpg" alt="Photo 1" style="width: 500px; height: 230px;">
            <img src="static/img/f2.jpg" alt="Photo 2" style="width: 500px; height: 215px;">
            <img src="static/img/f3.jpg" alt="Photo 3" style="height: 198px; width: 500px;">
            <img src="static/img/f4.jpg" alt="Photo 4" style="width: 500px; height: 186px;">
            <img src="static/img/f5.jpg" alt="Photo 5" style="width: 500px; height: 230px;">
            <img src="static/img/f6.png" alt="Photo 6" style="width: 500px; height: 200px;">
        </div>

           

           </form>       
        <a href="index.html"><button>
        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
        <span>Back</span>
        </button></a>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/heatmap.js/build/heatmap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

   
</body>
    
</html>