<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>

<body>
    <div class="parallax1">
        <div class="head">LETS REVIEW....</div>
    </div>
    <section>
        <h1>OVERVIEW</h1>
        <div>
            <p>
                In pursuit of equitable and inclusive education, our platform serves
                as a comprehensive tool for analyzing and addressing the critical
                issue of student dropout rates in school education. We recognize that
                dropout rates are influenced by a myriad of socio-economic factors,
                and it is our mission to provide data-driven insights to inform policy
                decisions and drive focused interventions.
            </p>
        </div>
    </section>

    <div class="parallax2"></div>
    
        <h1>Our Aim</h1>
        <p>
            Our website is dedicated to empowering policymakers, educators, and
            stakeholders with valuable insights through in-depth analysis of student
            dropout rates. We focus on four crucial categories for analysis<br />
            • Area-wise Analysis: Understand dropout trends within different geographical areas, aiding in localized
            interventions and resource allocation.<br />
            • Gender-wise Analysis: Examine the gender disparities in dropout rates and create gender-sensitive policies
            to ensure equal access to education.<br />
            • Caste-wise Analysis: Address social inequalities by analyzing dropout rates among different caste groups
            and devising strategies for inclusive education.<br />
            • Age/Standard-wise Analysis: Identify critical stages where dropouts are most prevalent, enabling timely
            interventions and support.<br />
        </p>

    <div class="parallax3"></div>
   
        <h1>Key Objectives</h1>
        <p>
            Our website is dedicated to empowering policymakers, educators, and stakeholders with valuable insights
            through in-depth analysis of student dropout rates. We focus on four crucial categories for analysis:<br />
            • Caste-wise Analysis: Address social inequalities by analyzing dropout rates among different caste groups
            and devising strategies for inclusive education.<br />
            • Area-wise Analysis: Understand dropout trends within different geographical areas, aiding in localized
            interventions and resource allocation.<br />
            • Gender-wise Analysis: Examine the gender disparities in dropout rates and create gender-sensitive policies
            to ensure equal access to education.<br />
            • Age/Standard-wise Analysis: Identify critical stages where dropouts are most prevalent, enabling timely
            interventions and support.<br />
        </p>
    
    <div class="parallax4"></div>
    <h1>Expected Outcome</h1>
    
        <p>
            Our platform is a catalyst for change, providing a data-driven approach to address high dropout rates. By
            facilitating evidence-based decision-making, we aim to:<br />
            • Reduce dropout rates in schools by focusing resources where they are needed most.<br />
            • Promote inclusivity and equal access to education for all students.<br />
            • Inform the creation of targeted policies that address socio-economic challenges.<br />
            • Foster collaboration among stakeholders to improve the overall educational landscape.<br />
        </p>
    
    <div class="parallax5"></div>
    <h1 class=>SOURCES</h1>
    
    <div class="parallax6">
        <div class="links">
            <div class="first">
            <a href="https://data.gov.in" target="_blank">• Data.gov</a><br><br />
        </div>
            <a href="https://data.gov.in/resource/class-wise-drop-out-rates-2008-09" target="_blank">• Class Wise Drop Out Rates 2008-09</a><br /><br />
           <a href="https://data.gov.in/resource/class-wise-drop-out-rates-2009-10" target="_blank">• Class Wise Drop Out Rates 2009-10</a><br /><br />
            <a href="https://data.gov.in/resource/class-wise-drop-out-rates-2010-11" target="_blank">• Class Wise Drop Out Rates 2010-11</a><br /><br />
            <a href="https://data.gov.in/resource/class-wise-drop-out-rates-2011-12" target="_blank">• Class Wise Drop Out Rates 2011-12</a><br />
        
        </div>
       <a href="analysis.html"> <button class="learn-more">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">Get Started</span>
          </button></a>
    </div>
    <footer>
        Copyright © 2023 - All rights Reserved - Designed by Dreamweavers<br/>
        <a href="https://github.com/GeekProgramer/Student_Dropout_Analysis" target="_blank" rel="noopener noreferrer"
        ><i class="fab fa-github"></i
      ></a>

    </footer>
</body>

</html>